# Compiled output
dist
node_modules
.elasticbeanstalk

# Test directory
test

# Files that not needed for the application itself
.eslintrc.js
.gitignore
.prettierrc
README.md

# IDEs
.vscode

# Git files
.git